<div class="nav-container">
  <div class="navbar1">
    <div class="navbarInner1">
      <img src="assets/images/facebookicon.png" />
    </div>
    <div class="navbarInner2">
      <img src="assets/images/addtostoryicon.png" />
      <img src="assets/images/searchicon.png" />
      <img src="assets/images/menuicon.png" />
    </div>
  </div>
  <div class="navbar2">
    <img src="assets/images/homeicon.png" />
    <img src="assets/images/friendsicon.jpg" />
    <img src="assets/images/messageicon.png" />
    <img src="assets/images/notificationicon.png" />
    <img src="assets/images/videoicon.webp" />
    <img src="assets/images/marketicon.png" />
  </div>
</div>
